doctype html
html
	head
	meta(charset='utf-8')
	title
	link(href='/static/css/app.css' rel='stylesheet' type='text/css')

body
	.app
		.setup(data-view='LITSetup:setup')
			section.welcome-page(data-view='LITPage:preloaded')
				header.toolbar
					button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
					h1(data-outlet='title') Welcome
				section.page-content
					button(data-action='click:start()') Start

		.settings
		.rooms(data-view='LITRooms:rooms')
			.overview(data-view='LITRoomOverview:overview')
				ul(data-view='LRSList:roomList:LITRoomListItem')
	
	script.templates(type='text/html')
		include ./rooms
		include ./setup

		+roomTemplates
		+setupTemplates
	
	script(src='/static/js/vendor.js')
	script(src='/static/js/app.js')
	script.
		document.addEventListener('DOMContentLoaded', function() {
			window.lrs.LRSView.parseTemplates()
			window.lit.app = new window.lit.LITApp(document.querySelector('.app'))
		})