mixin roomTemplates

	section.rooms-overview-page(data-template='RoomsOverview')
		header.toolbar
			button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			button.settings-btn(data-action='click:settings()') Settings
			h1(data-outlet='title') Lights
			button.add-room-btn(data-action='click:newRoom()') +
		section.page-content
			ul(data-view='LRSList:roomList:RoomListItem')

	section.new-room-device-list-page(data-template='NewRoomDevicesPage')
		header.toolbar
			button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			h1(data-outlet='title') New room
			button.close-new-room-btn(data-action='click:close()') X
		section.page-content
			h1 Select the lights you want to use in this room
			p Selected lights that are online will start to pulse
			ul.device-list(data-view='LRSList:lightsDeviceList:DeviceListItem')
			button(data-action='click:next()') Next

	section.new-room-naming-page(data-template='NewRoomNamingPage')
		header.toolbar
			button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			h1(data-outlet='title') New room
			button.close-new-room-btn(data-action='click:close()') X
		section.page-content
			h1 Give this room a name and an icon
			ul.room-icon-list(data-view='LRSList:roomIconList:RoomIconListItem')
			button(data-action='click:next()') Next

	section.new-room-completion-page(data-template='NewRoomCompletionPage')
		header.toolbar
			button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			h1(data-outlet='title') New room
			button.close-new-room-btn(data-action='click:close()') X
		section.page-content
			h1 Add new moment?
			button(data-action='click:skip()') Skip
			button(data-action='click:skip()') New moment

	section.new-moment-page(data-template='NewMomentPage')
		header.toolbar
			button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			h1(data-outlet='title') New room
			button.close-new-room-btn(data-action='click:close()') X
		section.page-content
			h1 Give this room a name and an icon
			ul.room-icon-list(data-view='LRSList:roomIconList:RoomIconListItem')
			button(data-action='click:next()') Next

	li.room-list-item(data-template='RoomListItem')
		h3
			span(data-outlet='name')
			img.room-icon(data-outlet='icon')
			
	div.room(data-template='Room')
		h1(data-outlet='name')

	li.device-list-item(data-template='DeviceListItem' data-action='click:toggle()')
		h3
			span(data-outlet='name')
			span.lights-device-icon
			span.status

	li.room-icon-list-item(data-template='RoomIconListItem' data-action='click:toggle()')
		img(data-outlet='icon')
		input(data-outlet='name')