mixin roomTemplates

	section.rooms-overview-page(data-template='RoomsOverview')
		header.toolbar
			button.settings-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			h1(data-outlet='title') Lights
		section.page-content
			h1 Test
			ul(data-view='LRSList:roomList:RoomListItem')


	li.room-list-item(data-template='RoomListItem')
		h3
			span(data-outlet='name')
			
	div.room(data-template='Room')
		h1(data-outlet='name')

	