mixin setupTemplates

	section.login-page(data-template='SetupLogin')
		header.toolbar
			.left
				button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			.title
				h1(data-outlet='title') Login
		section.page-content
			image.particle-icon(src='static/img/icons/particle-gray.svg')
				p.text-center Sign in to your Particle account to set up Lights on any of your Particle devices
			form(data-action='submit:login()')
				.setup-login-input-container
					label(for='setup-login-username' data-view='label') Username
					input#setup-login-username.setup-login-input(type='text' data-outlet='username' data-view='input')
				
				.setup-login-input-container
					label(for='setup-login-password' data-view='label') Password
					input#setup-login-password.setup-login-input(type='password' data-outlet='password' data-view='input')
				
				button.box-btn(type='submit') Login
	
	section.devices-page(data-template='DevicesPage')
		header.toolbar
			.left
				button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			.title
				h1(data-outlet='title') Select devices

		section.page-content
			p.self-center.text-center Select the devices you want to use with Lights.
			p.self-center.text-center Other devices you select that do not have the Lights software yet will be reprogrammed.

			ul.self-center.device-list.list.border-2.border-radius(data-view='List:lightsDeviceList:DeviceListItem')
		
			button.box-btn(type='button' data-action='click:next()') Next
	
	section.devices-reprogramming-page(data-template='DevicesReprogrammingPage')
		header.toolbar
			.left
				button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			.title
			h1(data-outlet='title') Reprogramming

		section.page-content
			p.self-center.text-center Some of the devices you selected are not running the Lights software yet. Do you want to reprogram these?

			ul.self-center.device-list.list.border-2.border-radius(data-view='List:lightsDeviceList:DeviceReprogrammingListItem')

			button.box-btn.green(data-view='reprogramBtn' data-action='click:reprogram()') Reprogram
			button.box-btn(data-view='skipBtn' data-action='click:skip()') Skip
	
	section.devices-naming-page(data-template='DevicesNamingPage')
		header.toolbar
			.left
				button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			.title
				h1(data-outlet='title') Naming

		section.page-content
			h2 Name your Lights
			p Tap on a device to name it, or click "Done" if you like the current names
			ul.device-naming-list(data-view='List:deviceNamingList:DeviceNamingListItem')

			button.box-btn(type='button' data-action='click:done()') Done

	section.setup-complete-page(data-template='SetupCompletePage')
		header.toolbar
			.left
				button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			.title
				h1(data-outlet='title') Setup complete

		section.page-content
			h2 Setup complete!
			button.box-btn(type='button' data-action='click:next()') Start using Lights