mixin setupTemplates

	section.login-page(data-template='LITSetupLogin')
		header.toolbar
			button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			h1(data-outlet='title') Login
		section.page-content
			form(data-action='submit:login()')
				label(for='setup-login-username') Username
				input#setup-login-username(type='text' data-outlet='username')
				
				label(for='setup-login-password') Password
				input#setup-login-password(type='password' data-outlet='password')
				
				button(type='submit') Login
	
	section.devices-page(data-template='LITDevicesPage')
		header.toolbar
			button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			h1(data-outlet='title') Select devices

		section.page-content
			h2 Select devices
			p Select the devices you want to use as Lights devices. Other devices you select that do not have the Lights software yet will be reprogrammed.
		
			h2 Devices
			ul.device-list(data-view='LRSList:lightsDeviceList:LITDeviceListItem')
		
			button(type='button' data-action='click:next()') Next
	
	section.devices-reprogramming-page(data-template='LITDevicesReprogrammingPage')
		header.toolbar
			button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			h1(data-outlet='title') Reprogramming

		section.page-content
			h2 Reprogramming devices...
			p We're reprogramming your devices, shouldn't take too long now.
	
	section.devices-naming-page(data-template='LITDevicesNamingPage')
		header.toolbar
			button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			h1(data-outlet='title') Naming

		section.page-content
			h2 Name your Lights
			p Tap on a device to name it. 
			ul.device-list(data-view='LRSList:lightsDeviceList:LITDeviceListItem')

			button(type='button' data-action='click:done()') Done

	section.setup-complete-page(data-template='LITSetupCompletePage')
		header.toolbar
			button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			h1(data-outlet='title') Setup complete

		section.page-content
			h2 Setup complete!
			

	li.device-list-item(data-template='LITDeviceListItem' data-action='click:toggle()')
		h3
			span(data-outlet='name')
			span.lights-device-icon
			span.status