mixin templates

	button.add-btn.toolbar-btn(data-template='AddBtn' data-action='click:add()')
		svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 17 17" style="enable-background:new 0 0 17 17;" xml:space="preserve")
			line(class="line" x1="8.5" y1="0" x2="8.5" y2="17")
			line(class="line" x1="0" y1="8.5" x2="17" y2="8.5")

	button.close-btn.toolbar-btn(data-template='CloseBtn' data-action='click:close()')
		svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 17 17" style="enable-background:new 0 0 17 17;" xml:space="preserve")
			line(class="line" x1="2.5" y1="2.5" x2="14.5" y2="14.5")
			line(class="line" x1="2.5" y1="14.5" x2="14.5" y2="2.5")

	button.settings-btn.toolbar-btn(data-template='SettingsBtn' data-action='click:settings()')
		svg(version="1.1" id="Layer_1" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:svg="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 17 17"
		style="enable-background:new 0 0 17 17;" xml:space="preserve")
			circle(class="line" cx="8.5" cy="8.5" r="3.6")
			path(class="line" d="M14.9,7.8l1.4-1.1c0,0-0.2-1.1-0.9-2.2c-0.6-1.1-1.5-1.8-1.5-1.8l-1.5,0.6c-0.4-0.3-0.8-0.6-1.3-0.7l-0.3-1.7 c0,0-1-0.4-2.3-0.4S6.2,0.9,6.2,0.9L6,2.5C5.5,2.6,5,2.9,4.6,3.2L3,2.6c0,0-0.8,0.7-1.5,1.8S0.7,6.7,0.7,6.7l1.3,1 C1.9,8.3,1.9,8.8,2,9.4l-1.2,0.9c0,0,0.2,1.1,0.8,2.2s1.5,1.8,1.5,1.8l1.4-0.6c0.5,0.4,0.9,0.6,1.5,0.8l0.2,1.6c0,0,1,0.4,2.3,0.4 s2.3-0.4,2.3-0.4l0.3-1.6c0.5-0.2,1-0.5,1.4-0.8l1.6,0.6c0,0,0.8-0.7,1.5-1.8c0.6-1.1,0.8-2.2,0.8-2.2L15,9.2 C15,8.7,15,8.3,14.9,7.8z")

	.toggle(data-template='Toggle' data-action='click:toggle()')
		.toggle-fill
		.toggle-state

	.checkmark-container(data-template='Checkmark' data-action='click:toggle()' data-checked='false')
		svg.checkmark(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve")
			polyline(class="line" points="0,4.3 3.9,8.3 10,2.2 ")

	.range-slider(data-template='RangeSlider')
		.track(data-view='track')
			.thumb(data-view='thumb' data-action='mousedown:touchstart();touchstart:touchstart()')
				span(data-view='output')

	li.device-list-item.selectable.fill-2(data-template='DeviceListItem' data-action='click:toggle()')
		.left
			.checkmark(data-view='Checkmark:checkmark')
			span(data-outlet='name')
		.right
			.lights-device-icon
			.status

	li.device-naming-list-item(data-template='DeviceNamingListItem')
		input(type='text' data-outlet='name')

	li.device-list-item.device-reprogramming-list-item(data-template='DeviceReprogrammingListItem')
		.left
			.checkmark(data-view='Checkmark:checkmark')
			.processing
				svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 10 10;" xml:space="preserve")
					circle(cx='12.5' cy='12.5' r='12' class='circle')
			span.name(data-outlet='name')
			span.message.flashing Reprogramming device
			span.message.flash-successful Device reprogrammed, reconnecting...
			span.message.flash-failed Device reprograming failed, retrying...
		.right
			.lights-device-icon
			.status



	li.favourite-colors-list-item(data-template='FavouriteColorsListItem' data-action='click:select()' data-view='favouriteColorsListItem')
		span.delete(data-action='click:deleteFavouriteColor(object)' data-view='deleteFavouriteColorBtn') +
		

	li.room-device-list-item(data-template='RoomDeviceListItem' data-action='click:toggle()')
		span(data-outlet='roomName')
		.checkmark(data-view='Checkmark:checkmark' data-checked='true')