mixin templates
	.toggle(data-template='Toggle' data-action='click:toggle()')
		.toggle-fill
		.toggle-state

	.checkmark-container(data-template='Checkmark' data-action='click:toggle()' data-checked='false')
		svg.checkmark(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve")
			polyline(class="line" points="0,4.3 3.9,8.3 10,2.2 ")

	section.color-wheel(data-template='ColorWheel' data-action='click:toggle()')
		header.toolbar
			button.back-btn(data-view='backBtn' data-outlet='title' data-action='click:back()') Back
			h1(data-outlet='name') 
			button.close-new-room-btn(data-action='click:close()') X
		section.page-content
			.color-wheel-container
				.brightness-slider-track
					.on-off-btn-container
						button.on-off-btn(data-view='onOffBtn' data-action='click:onOffClick()')
							svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve")
								path(id="XMLID_1_" class="line" d="M15.5,6.3C9.8,8.2,5.6,13.6,5.6,20c0,7.9,6.4,14.4,14.4,14.4S34.4,27.9,34.4,20 c0-6.4-4.1-11.8-9.9-13.7")
								line(id="XMLID_5_" class="line" x1="20" y1="16" x2="20" y2="3.4")
					.brightness-slider-arm(data-view='brightnessSliderArm')
						.brightness-slider(data-action='mousedown:brightnessTouchstart()')
					.color-wheel-bg(data-view='colorWheelBg' data-action='mousedown:colorWheelTouchstart()')
						.color-wheel-bg-scrim(data-view='colorWheelBgScrim')
						.color-wheel-arm(data-view='colorWheelArm')
							.color-wheel-slide-arm(data-view='colorWheelSlideArm')
								.color-wheel-picker(data-view='colorWheelPicker')

			.bottom-container
				.favourite-colors-container
					ul.favourite-colors-list(data-view='LRSList:favouriteColorsList:FavouriteColorsListItem')

				.room-device-list-container
					ul.room-device-list(data-view='LRSList:roomDeviceList:RoomDeviceListItem')

	li.favourite-colors-list-item(data-template='FavouriteColorsListItem' data-action='click:select()')
		

	li.room-device-list-item(data-template='RoomDeviceListItem' data-action='click:toggle()')
		span(data-outlet='roomName')
		.checkmark(data-view='Checkmark:checkmark' data-checked='true')