@import (inline) "../vendor/normalize-css/normalize.css";

@import "variables";
@import (reference) "mixins";

@import "type";

@import "layout";
@import "setup";
@import "color-wheel";
@import "templates";
@import "rooms";

body {

	background-color: @blue-0;

	-webkit-tap-highlight-color: transparent;

	user-select: none;

	font-family: 'Roboto';

}

h1, h2, p {

	color: @text-color;
	font-weight: 300;

}

h1 {

	font-size: 17px;
	font-weight: 400;

}

button {

	color: #444;
	
}

ul {

	list-style-type: none;
	margin: 0;
	padding: 0;

}

input {

	color: #444;
	
}

.toolbar {

	display: flex;
	flex-direction: row;
	justify-content: center;

	height: @toolbar-height;

	background-color: @blue-1;

}

.page-content {

	max-width: 1024px;
	margin: 0 auto;

}