@import (inline) "../vendor/normalize-css/normalize.css";

@import "variables";
@import (reference) "mixins";

@import "type";

@import "layout";
@import "setup";

body {

	background-color: @blue-0;

}

h1, h2, p {

	color: @text-color;

}

button {

	color: #444;
	
}