@import (inline) "../vendor/normalize-css/normalize.css";

@import "variables";
@import (reference) "mixins";

@import "type";

@import "welcome";
@import "layout";
@import "setup";
@import "color-wheel";
@import "templates";
@import "rooms";

html {

	width: 100%;
	height: 100%;

}

body {

	width: 100%;
	height: 100%;

	background-color: @blue-0;

	-webkit-tap-highlight-color: transparent;

	user-select: none;

	font-family: 'Roboto';

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.app {

	position: relative;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	overflow: hidden;

	// border-radius: @btn-border-radius;
	// border: 1px solid @cool-gray-2;

	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);

}

.no-pointer-events {

	pointer-events: none;

}

h1, h2, p {

	color: @text-color;
	font-weight: 300;

}

h1 {

	font-size: 17px;
	font-weight: 400;

}

.text-center {

	text-align: center;

}

button {

	color: #444;
	
}

ul {

	list-style-type: none;
	margin: 0;
	padding: 0;

}

input {

	color: @text-color;
	outline: none;

	&::-webkit-input-placeholder {

		color: @cool-gray-3;

	}
	
}

button {

	border: none;
	background-color: transparent;
	color: @text-color;
	padding: 0 20px;
	outline: none;

	&:active {

		opacity: 0.3;

	}
	
}

.image {

	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;

}

.box-btn {

	width: 100%;
	max-width: 300px;

	margin: 10px 0;
	padding: 10px;

	align-self: center;

	border-radius: @btn-border-radius;
	border: 1px solid rgba(255, 255, 255, 0.2);

	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

	background-color: @bright-blue-1;

	transition: all 0.2s ease;

	&:hover {

		background-color: @bright-blue-2;
		opacity: 1;

	}

	&:active {

		background-color: @bright-blue-0;
		opacity: 1;
		transition: all 0.1s ease;

	}

	&.green {

		background-color: @green-1;
		color: #FFF;
		border: 1px solid rgba(255, 255, 255, 0.3);

		&:hover {

			background-color: @green;

		}

		&:active {

			background-color: @green-0;

		}

	}

	&.red {

		background-color: @red;

	}

	&.disabled {

		pointer-events: none;
		background-color: @cool-gray-0;
		color: @cool-gray-3;

	}

}

.back-btn {

	height: 100%;
	position: relative;

	&::before {

		content: '';
		width: 17px;
		height: 17px;
		margin: 0 5px 0 0;
		// position: absolute;
		position: relative;
		display: inline-block;
		left: 0;
		top: 0;
		background-image: url('/static/img/icons/back.svg');
		background-repeat: no-repeat;
		background-position: 50% 50%;

		transform: translate3d(0, 2px, 0);

	}

}

.add-btn, .close-btn{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	svg{

		width: 17px;
		height: 17px;

	}

	.add-btn-line, .close-btn-line {

		stroke: @text-color;
		stroke-width: 1px;

	}

}

.page-content {

	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;

}

.self-start {

	align-self: flex-start;
	
}

.self-center {

	align-self: center;

}

.self-end {

	align-self: flex-end;
	
}