@color-wheel-transition-raw: 0.7s cubic-bezier(.37,.01,.21,.99);
@color-wheel-transition: all 0.7s cubic-bezier(.37,.01,.21,.99);

.color-wheel {

	height: 100vh;
	position: relative;
	display: block;

	.page-content {

		height: ~"calc(100% - @{toolbar-height})";

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

	}

} 

.color-wheel-container {

	max-width: 600px;
	max-height: 600px;
	margin-top: 40px;
	// background-color: red;

	width: 100vw;
	height: 100vw;

	padding: 20px;

	display: block;
	position: relative;

}

.brightness-slider-track {

	max-width: 100%;
	max-height: 100%;

	width: 100vw;
	height: 100vw;
	display: block;
	position: relative;
	// background-color: orange;
	border-radius: 10000px;
	border: 1px solid @blue-3;

}

.on-off-btn-container {

	@on-off-btn-width: 26%;
	@on-off-btn-height: 100px;

	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: @blue-0;
	width: @on-off-btn-width;
	height: @on-off-btn-height;
		left: ~"calc(50% - (@{on-off-btn-width} / 2))";
	bottom: -(@on-off-btn-height / 2);

	.on-off-btn {

		margin: 0;
		padding: 5px;

		width: 50px;
		height: 50px;
		border: none;

		.color-rgba(@blue-1-raw, 0.5);
		background-color: @rgba;

		outline: none;

		border-radius: 1000px;
		border: 1px solid @blue-2;
		overflow: hidden;

		&:hover {

			// .color-rgba(@blue-1-raw, 0.3);
			background-color: @blue-1;

		}

		&:active {

			background-color: transparent;
		}

		.line {

			stroke: @blue-3;
			stroke-width: 2px;
			stroke-linecap: round;
			fill: transparent;

		}

	}
}

.brightness-slider-arm {

	@brightness-slider-range: 330;
	@initial-slider-angle: unit(((360 - @brightness-slider-range) / 2), deg);

	position: relative;
	width: 1px;
	height: 100%;
	margin-left: 50%;

	transform: rotate3d(0, 0, 1, @initial-slider-angle);

	transition: @color-wheel-transition;
	// transition: all 0.5s ease;
}

.brightness-slider {

	@brightness-slider-diam: 40px;
	position: absolute;

	bottom: -1 * @brightness-slider-diam / 2;
	left: -1 * @brightness-slider-diam / 2;

	width: @brightness-slider-diam;
	height: @brightness-slider-diam;
	background-color: gray;
	border-radius: 1000px;

	user-select: none;

}

.color-wheel-bg {

	@margin: 40px;

	width: ~"calc(100% - (@{margin} * 2))";
	height: ~"calc(100% - (@{margin} * 2))";
	display: block;
	position: absolute;
	top: 0;
	left: 0;

	margin: @margin;

	background-image: url('/static/img/color-wheel.jpg');
	background-size: cover;

	user-select: none;

	border-radius: 10000px;

}

.color-wheel-bg-scrim {

	width: 100%;
	height: 100%;
	background-color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10000px;
	opacity: 0;
	box-shadow: 0 0 2px #000;

	transition: @color-wheel-transition;

}

.color-wheel-arm {

	position: relative;
	height: 0;
	width: 100%;
	margin-top: 50%;

	transition: @color-wheel-transition;

	background-color: black;

}

.color-wheel-slide-arm {

	position: relative;
	height: 0;
	width: 50%;
	margin-top: 50%;

	transition: @color-wheel-transition;

	background-color: white;

}

.color-wheel-picker {

	@color-wheel-picker-diam: 60px;

	position: absolute;
	display: block;

	width: @color-wheel-picker-diam;
	height: @color-wheel-picker-diam;
	left: ~"calc(100% - (@{color-wheel-picker-diam} / 2))";
	top: -(@color-wheel-picker-diam / 2);
	background-color: white;
	border-radius: 1000px;

	user-select: none;

	z-index: 10;

	transition: @color-wheel-transition;

	&::after {

		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: inherit;
		border-radius: 1000px;

		border: 1px solid rgba(255, 255, 255, 0.5);

		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

		transition: transform .2s cubic-bezier(.16,.3,.35,1.59), box-shadow .2s ease;

	}

	.color-wheel-picker-scrim {

		position: absolute;
		// width: 100%;
		// height: 100%;

		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		border: 1px solid rgba(255, 255, 255, 0.3);

		background-color: #000;
		z-index: 100;
		border-radius: 1000px;
		// opacity: 0.55;

		transition: opacity @color-wheel-transition-raw, transform .2s cubic-bezier(.16,.3,.35,1.59);

	}

	&.active {


		.color-wheel-picker-scrim {

			transform: scale3d(1.2, 1.2, 1.2);

		}

		&::after {

			transform: scale3d(1.2, 1.2, 1.2);

			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

		}

	}

}

.bottom-container {

	display: flex;
	flex-direction: column;
	width: 100%;

}

.favourite-colors-container {

	width: 100%;
	// height: 100px;

	padding: 20px;

	// background-color: red;
	position: relative;
	display: flex;
	align-items: center;

	border-bottom: 1px solid @blue-1;

}

.favourite-colors-list {

	display: flex;
	flex-direction: row;

	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;

}

.favourite-colors-list-item {

	@border-radius: 5px;

	width: 50px;
	height: 50px;

	min-width: 50px;
	min-height: 50px;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	margin: @border-radius;
	margin-right: 20px;

	border: 1px solid @blue-3;
	border-radius: @border-radius;

	background-color: @blue-1;

	cursor: pointer;

	transition: all 0.2s ease;

	&:hover {

		background-color: @blue-2;

	}

	&:active {

		background-color: @blue-3;
		color: @blue-0;

	}

	&.selected::after {
		@border-offset: 5px;
		@selected-border-radius: unit(@border-radius + @border-offset, px);

		content: '';
		position: absolute;
		top: -@border-offset;
		left: -@border-offset;
		right: -@border-offset;
		bottom: -@border-offset;

		border: 1px solid white;
		border-radius: unit(@border-radius + @border-offset, px);
	}
}

.add-favourite-color-btn {

	order: 99999;
	
}

.room-device-list-container{

	width: 100%;
	// height: 100px;

	padding: 20px;

	// background-color: red;
	position: relative;
	display: flex;
	align-items: center;

}

.room-device-list {

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

}

.room-device-list-item {

	margin-right: 20px;

	display: flex; 
	flex-direction: column;
	align-items: center;

	cursor: pointer;

	span {

		margin-bottom: 10px;
		color: @blue-3;
	}

}