@status-symbol-size: 12px;

.setup {

	.page-content {

		display: flex;
		align-items: center;

	}

}

p {

	max-width: 300px;

}

.particle-icon {

	width: 100px;
	margin-top: 40px;

}

.setup-login-input-container {

	position: relative;
	display: block;

	margin: 10px 0;

	.color-rgba(@cool-gray-2-raw, 0.2);
	background-color: @rgba;
	border: 1px solid @cool-gray-2;
	border-radius: @btn-border-radius;
	min-width: 300px;

	label {

		display: block;
		position: absolute;
		left: 15px;

		font-size: 17px;
		font-weight: 300;

		color: @blue-3;

		opacity: 0.6;

		transform: translate3d(0, 20px, 0);
		transform-origin: 0 0;

		transition: all 0.3s ease;

		&.minimize {

			@scale: 0.8;

			transform: translate3d(0, 10px, 0) scale3d(@scale, @scale, @scale);

		}

	}

	.setup-login-input {

		width: 100%;
		display: block;

		// height: 40px;
		padding: 30px 15px 10px 15px;
		background-color: transparent;
		border: none;
		// margin-top: 17px;
		font-size: 17px;
		font-weight: 300;
		color: @text-color;

	}

	&#setup-login-username {

		&::before {

			content: 'username';
		}

	}

}