.toggle {

	@toggle-height: 25px;
	@toggle-width: 40px;
	@margin: 1px;
	@toggle-animation-speed: all 0.35s;
	@toggle-animation-speed-ease: @toggle-animation-speed ease;
	@toggle-animation-speed-cubic: @toggle-animation-speed cubic-bezier(.49,.01,.35,1.28);

	position: relative;

	width: @toggle-width;
	height: @toggle-height;
	background-color: @blue-2;
	display: inline-block;

	border-radius: 1000px;

	transition: @toggle-animation-speed;

	.toggle-state {

		position: absolute;

		width: @toggle-height - (@margin * 2);
		height: @toggle-height - (@margin * 2);
		background-color: #FFF;
		box-sizing: border-box;
		top: @margin;
		left: @margin;

		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

		border-radius: 1000px;

		transition: @toggle-animation-speed-cubic;

	}

	.toggle-fill {

		position: absolute;
		top: @margin;
		left: @margin;
		border-radius: 1000px;

		background-color: @blue-0;
		width: @toggle-width - (@margin * 2);
		height: @toggle-height - (@margin * 2);

		transform-origin: unit((@toggle-width - (@toggle-height / 2)) / @toggle-width * 100, %) 50%;

		transition: @toggle-animation-speed;

	}

	&.checked {

		background-color: @green;

		.toggle-state {

			transform: translate3d(~"calc(@{toggle-width} - @{toggle-height})", 0, 0);
		}

		.toggle-fill {

			transform: scale3d(0, 0, 0);

		}

	}

}

.checkmark-container {
	@width: 25px;
	width: @width;
	height: @width;

	position: relative;

	padding: 5px;

	border-radius: 1000px;

	border: 1px solid @blue-2;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;

	cursor: pointer;

	&::after {

		content: '';
		background-color: @blue-2;
		position: absolute;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
		border-radius: 1000px;
		z-index: -1;

		transform: scale3d(0, 0, 0);

		transition: all 0.3s cubic-bezier(.38,0,.25,1);
	}

	.checkmark {

		display: block;
		width: 100%;

		overflow: visible;

		.line {

			@dash-length: 16px;

			fill: transparent;
			stroke: @blue-3;
			stroke-width: 1px;
			stroke-dasharray: @dash-length @dash-length;
			stroke-dashoffset: @dash-length + 1px;
			stroke-linecap: round;

			fill: transparent;
			stroke: @blue-3;
			stroke-width: 1px;

			transition: all 0.3s cubic-bezier(.38,0,.25,1);
			transition-delay: 0s;

		}

	}

}

.checkmark-container.checked {
	@width: 25px;
	width: @width;
	height: @width;

	padding: 5px;

	border-radius: 1000px;

	display: flex;
	align-items: center;
	justify-content: center;

	&::after {

		transform: scale3d(1, 1, 1);

	}

	.checkmark {

		.line {

			stroke-dashoffset: 0;
			transition-delay: 0.2s;

		}

	}

}

