// Colors
@blue: rgb(100, 100, 255);
@blue-0: rgb(21, 27, 40);
@blue-1: rgb(39, 50, 74);

@green: rgb(60, 255, 114);

@red: rgb(255, 60, 60);

// Text
@font-family-sans-serif:  "Source Sans Pro", Helvetica, Arial, sans-serif;
@root-font-size: 14px;
@text-color: #EEE;
@root-line-height: 1.5;