// Colors
@blue: rgb(100, 100, 255);
@blue-raw: 100, 100, 255;
@blue-0: rgb(21, 27, 40);
@blue-0-raw: 21, 27, 40;
@blue-1: rgb(39, 50, 74);
@blue-1-raw: 39, 50, 74;
@blue-2: rgb(59, 76, 112);
@blue-2-raw: 59, 76, 112;
@blue-3: rgb(197, 203, 217);
@blue-3-raw: 197, 203, 217;

.color-rgba(@color; @opacity) {

	// background-color: ~"rgba(@{color}, @{opacity})";
	@rgba: ~"rgba(@{color}, @{opacity})";
	@rgba0: ~"rgba(@{color}, 0)";
	@rgba1: ~"rgba(@{color}, 1)";

}

@green: rgb(60, 255, 114);

@red: rgb(255, 60, 60);

// Text
@font-family-sans-serif:  "Source Sans Pro", Helvetica, Arial, sans-serif;
@root-font-size: 14px;
@text-color: #EEE;
@root-line-height: 1.5;

// Interface elements
@toolbar-height: 43px;